/* Settings Container */
.settings-container {
    padding: 15px;
    background-color: var(--background-color);
    flex-grow: 1;
    overflow-y: auto; /* Allow scrolling if content exceeds height */
}

/* Settings Items */
.settings-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 10px;
    background: var(--hover-background-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.settings-item:hover {
    background-color: var(--button-gradient);
    color: var(--text-color);
}

.settings-item span {
    font-size: 16px;
    color: var(--text-color);
}

.settings-item label {
    font-size: 16px;
    color: var(--text-color);
    margin-right: 10px;
}

.settings-item input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Divider */
hr {
    border: none;
    height: 1px;
    background-color: var(--border-color);
    margin: 10px 0;
}

/* Title */
.title {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: var(--text-color); /* Use text color variable */
    margin: 0;
}
