/* Settings Container */


.settings-container {
    padding: 15px;
    background-color: #fff;
    flex-grow: 1;
    overflow-y: auto; /* Allow scrolling if content exceeds height */
}

/* Settings Items */
.settings-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.settings-item:hover {
    background-color: #e8f5e9;
}

.settings-item span {
    font-size: 16px;
    color: #333;
}

.settings-item label {
    font-size: 16px;
    color: #333;
    margin-right: 10px;
}

.settings-item input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Divider */
hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}




.title {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #000000; /* Orange für den Titel */
    margin: 0;
}
